<h1>Navigation</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt necessitatibus perferendis repudiandae neque nesciunt
    commodi autem voluptas quasi numquam iure impedit consequuntur, inventore, in fugit sapiente. Totam laboriosam,
    necessitatibus dolores suscipit, ad nemo cupiditate minima excepturi tempora esse amet mollitia, repellat cumque
    ratione fugit voluptatum. Beatae dolorem quia illum atque reprehenderit ut ipsum, omnis voluptates in doloremque
    laborum ea, accusantium, eum cupiditate praesentium eveniet earum nostrum nam doloribus repudiandae molestiae a
    tempora dignissimos? Quo neque, incidunt temporibus vitae, modi quos dicta eveniet cum laudantium odio dolorem quas
    sit sunt quisquam illum perferendis in. Fugit sunt, iste animi totam quisquam commodi!</p>
<h1>Footer</h1>