<div class="jumbotron py-4">
    <h3 class="text-center">
        Notes Web App <br>
        <small class="text-muted">Node.js | MongoDB</small>
    </h3>
    <hr>
    <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam mollitia aliquid, maiores quidem culpa fugit ab
        eum a accusamus atque, soluta sit. Enim suscipit nostrum alias cum. Consectetur, libero dignissimos.</p>
    <hr>
    <div class="row justify-content-md-center">
        <a class="btn btn-outline-info btn-lg m-auto" href="/notes/add-note">Let's add notes!</a>
    </div>
</div>